###BOILERPLATE###
Source: kde-l10n-aaaUBUNTULANGCODEbbb
Section: kde
Priority: optional
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
Build-Depends: debhelper (>= 7.4.13),
               pkg-kde-tools (>= 0.5.3),
               cmake,
               kdelibs5-dev (>= 4:4.5.0)
Standards-Version: 3.9.2
Homepage: http://l10n.kde.org/team-infos.php?teamcode=aaaKDELANGCODEbbb
Vcs-Browser: http://bazaar.launchpad.net/~kubuntu-members/kubuntu-packaging/kde-l10n-common
Vcs-Bzr: https://code.launchpad.net/~kubuntu-members/kubuntu-packaging/kde-l10n-common

Package: kde-l10n-aaaUBUNTULANGCODEbbb
Architecture: all
Depends: ${misc:Depends},
         libkdecore5 (>= 4:4.5.0),
         language-pack-kde-aaaUBUNTULANGDEPbbb
Replaces: kde-i18n-aaaUBUNTULANGCODEbbb
Description: aaaKDELANGNAMEbbb (aaaUBUNTULANGCODEbbb) localization for KDE
 This package contains the translation files for all KDE core applications for
 the language "aaaKDELANGNAMEbbb".
