###BOILERPLATE###
Source: kde-l10n-aaaUBUNTULANGCODEbbb
Section: kde
Priority: optional
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
Build-Depends: debhelper (>= 7.4.13),
               quilt,
               pkg-kde-tools (>= 0.5.3),
               kdelibs5-dev (>= 4:4.4.1)
Standards-Version: 3.8.4
Homepage: http://l10n.kde.org/team-infos.php?teamcode=aaaKDELANGCODEbbb
Vcs-Browser: http://bazaar.launchpad.net/~kubuntu-members/kubuntu-dev-tools/kde-l10n-common
Vcs-Bzr: https://code.launchpad.net/~kubuntu-members/kubuntu-dev-tools/kde-l10n-common

Package: kde-l10n-aaaUBUNTULANGCODEbbb
Architecture: all
Depends: ${misc:Depends},
         kdelibs5 (>= 4:4.4.1),
         language-pack-kde-aaaUBUNTULANGCODEbbb
Replaces: kde-i18n-aaaUBUNTULANGCODEbbb
Description: aaaKDELANGNAMEbbb (aaaUBUNTULANGCODEbbb) localization for KDE
 This package contains the translation files for all KDE core applications for
 the language "aaaKDELANGNAMEbbb".
