Source: kde-l10n-###KDELANGCODE###
Section: kde
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Jonathan Riddell <jriddell@ubuntu.com>
Build-Depends: debhelper (>= 5), cdbs, quilt, cmake, bzip2, kdelibs5-dev (>= 4:4.2.1-0ubuntu1)
Standards-Version: 3.8.0
Homepage: http://l10n.kde.org/

Package: kde-l10n-###KDELANG_CODE###
Architecture: all
Section: kde
Depends: kdelibs5 (>= 4:4.2.1-0ubuntu1), language-pack-kde-###UBUNTULANGCODE###
Replaces: kde-i18n-###KDELANGCODE###
Description: ###KDELANGNAME### (###KDELANGCODE###) localisation files for KDE
 This package contains the translation files for all KDE core applications for
 the language "###KDELANGNAME###".
