#!/usr/bin/make -f
###BOILERPLATE###

LANGCODE=aaaKDELANGCODEbbb
#take translations from stable branch to match our KDE SC version
SVNREV=1168701

get-desktop:
	# Fetch all and any desktop file pos for KDE core modules from stable
	cd messages; \
		for module in kde*; do \
			cd $${module}; \
			svn export -r${SVNREV} svn://anonsvn.kde.org/home/kde/branches/stable/l10n-kde4/$(LANGCODE)/messages/$${module}/desktop_$${module}.po; \
			cd ..; \
		done; \
	cd ../..;

	# These are not split in svn but are split in release tars, so copy svn file to also cover release tar file
	-cp messages/kdebase/desktop_kdebase.po messages/kdebase/desktop_kdebase-runtime.po
	-cp messages/kdebase/desktop_kdebase.po messages/kdebase/desktop_kdebase-workspace.po
	-cp messages/kdepim/desktop_kdepim.po messages/kdepim/desktop_kdepim-runtime.po

	# Fetch playground and extragear desktop file pos as per list from pkg-kde-tools
	cd messages/kdelibs; \
		for file in `cat /usr/lib/kubuntu-desktop-i18n/desktop-template-list`; do \
			svn export -r${SVNREV} svn://anonsvn.kde.org/home/kde/trunk/l10n-kde4/$(LANGCODE)/messages/$${file}.po; \
		done; \
	cd ../..;

	# Fetch kdepim 4.4.5 translations
	cd messages; \
		svn export svn://anonsvn.kde.org/home/kde/tags/KDE/4.4.5/kde-l10n/${LANGCODE}/messages/kdepim/; \
	cd ..;

%:
	dh --with kde --with quilt $@

override_dh_install:
	dh_install -i
	rm -f debian/kde-l10n-aaaUBUNTULANGCODEbbb/usr/share/locale/$(LANGCODE)/entry.desktop
